[Desktop Entry]
Name=Automated File Sorter
Comment=Automatically organize files by extension and date
Exec=AutomatedFileSorter
Icon=automated-file-sorter
Terminal=false
Type=Application
Categories=Utility;
